// Awesome Colors 

//Primary
$moderate_cyan: hsl(176, 50%, 47%);
$dark_cyan: hsl(176, 72%, 28%);

//Nauetral

$dark_gray:hsl(0, 0%, 63%);

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$very_dark_gray: hsl(0, 0%, 27%);
$paragraph: hsl(0, 0%, 75%);


// $bg: rgb(250, 250, 250);
// $paragraph: #9b9b9b;
// $light_border: #F2F2F2